<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>NCB Mortgage</title>
    <style> .ncbimage{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }</style>

   <style>
    .container {
      display:flex;
      justify-content:center;
    }
  </style>

</head>
<body>
  <header>
    <nav>
        <div class="navbar">
            <div class="navbar-start">
              <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                  <li><a>Personal</a></li>
                  <li tabindex="0">
                    <a class="justify-between">
                      Business
                      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
                    </a>
                    <ul class="p-2">
                      <li><a>Submenu 1</a></li>
                      <li><a>Submenu 2</a></li>
                    </ul>
                  </li>
                  <li><a>About</a></li>
                </ul>
              </div>
                <a href="https://flowbite.com/" class="flex items-center">
                    <img src="../assets/images/logo (3).svg" class="h-120 w-120" viewBox="0 0 120 120"  alt="NCB Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">NATIONAL COMMERCIAL BANK </span>
                </a>
            </div>
            <div class="navbar-center hidden lg:flex">
              <ul class="menu menu-horizontal p-0">
                <li><a>Personal</a></li>
                <li tabindex="0">
                  <a>
                    Business
                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                  </a>
                  <ul class="p-2">
                    <li><a>Submenu 1</a></li>
                    <li><a>Submenu 2</a></li>
                  </ul>
                </li>
                <li><a>About</a></li>
              </ul>
            </div>
            <div class="navbar-end">
              <a class="btn btn-light bg-yellow">Get started</a>
            </div>
          </div>
    </nav>
</header>
    <br>
    <br> <br>
    <br>
    <img src="../assets/images/ncb.jpg" alt="NCB" height="400" width="700" class="ncbimage" >
    <br>
    <br>
    <br>
    <br>
    <div>
    <br>
    <br>
    <br>
    <div>
    <h1 style= "color: white"> A QUICK RUN DOWN</h1>
    <br>
    <br>
<form>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
          <label for="Year of birth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
          <input type="text" id="Year of birth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Year of birth" required>
      </div>
      <br>
      <div>
          <label for="Average Monthly Income" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
          <input type="text" id="Average Monthly Income" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Average Monthly Income" required>

      </div>
      <br>
      <div>
          <label for="Average Monthly expenses" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
          <input type="text" id="Average Monthly expenses" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Average Monthly expenses" required>
        </div>
        <br>
        <button type="Continue" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Continue</button>
      </div>
</form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <ul class="menu menu-horizontal bg-base-100 rounded-box">
          <li><a><div class="card card-compact w-96 bg-base-100 shadow-xl">
            <figure><img src="../assets/images/ncbman.svg" alt="" /></figure>
            <div class="card-body">
              <h2 class="card-title"></h2>
              <p>Follow our simple step-by-step guide to learn how to own a home.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">LEARN MORE</button>
              </div>
            </div>
          </div</a></li>
          <li><a><div class="card card-compact w-96 bg-base-100 shadow-xl">
            <figure><img src="../assets/images/ncbcalculator.svg" alt="" /></figure>
            <div class="card-body">
              <h2 class="card-title"></h2>
              <p>Find out how much you can afford and calculate your monthly payments</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">CALCULATE FEES</button>
              </div>
            </div>
          </div></a></li>
          <li><a><div class="card card-compact w-96 bg-base-100 shadow-xl">
            <figure><img src="../assets/images/ncbloan.svg" alt="" /></figure>
            <div class="card-body">
              <h2 class="card-title"></h2>
              <p>Find out which loan option is best for you</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">LEARN MORE</button>
              </div>
            </div>
          </div></a></li>
        </ul>
        <li><a><div class="card card-compact w-96 bg-base-100 shadow-xl">
          <figure><img src="../assets/images/ncb partner.svg" alt="" /></figure>
          <div class="card-body">
            <h2 class="card-title"></h2>
            <p>Connect with approved Land Surveyors and Valuators to get your report</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">VIEW PARTNERS</button>
            </div>
          </div>
        </div></a></li>
      </ul>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <p style="background-color: yellow;text-align: center;color: white;">Continue Application</p>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

                  <section class="mt-6">
                    <div class="flex flex-col w-full border-opacity-50">
                      <div class="grid h-20 card bg-blue rounded-box place-items-center">

                        <div class="form-control">
                          <label class="input-group">
                            <span class="bg-blue text-gray"><h1>Subcribe to our news letter</h1></span>
                            <input type="text" placeholder="Subcribe" class="input input-bordered bg-gray" />
                            <span class="bg-yellow">SUBSCRIBE</span>
                          </label>
                        </div>
                    </div>
                  </section>
                  <footer class="footer p-10 bg-base-300 text-base-content">
                    <div>
                      <span class="footer-title">Services</span>
                      <a class="link link-hover">Branding</a>
                      <a class="link link-hover">Design</a>
                      <a class="link link-hover">Marketing</a>
                      <a class="link link-hover">Advertisement</a>
                    </div>
                    <div>
                      <span class="footer-title">Company</span>
                      <a class="link link-hover">About us</a>
                      <a class="link link-hover">Contact</a>
                      <a class="link link-hover">Jobs</a>
                      <a class="link link-hover">Press kit</a>
                    </div>
                    <div>
                      <span class="footer-title">Legal</span>
                      <a class="link link-hover">Terms of use</a>
                      <a class="link link-hover">Privacy policy</a>
                      <a class="link link-hover">Cookie policy</a>
                    </div>
                  </footer>
                  <br>
                  <footer class="footer px-10 py-4 border-t bg-base-200 text-base-content border-base-300">
                    <div class="flex items-center justify-center">
                      <img src="../assets/images/logo (3).svg" alt="" srcset="">
                      <br>
                      <p>NATIONAL COMMERCIAL BANK </p>
                    </div>
                    <div class="md:place-self-center md:justify-self-end">
                      <div class="grid grid-flow-col gap-4">
                        <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg></a>
                        <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path></svg></a>
                        <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path></svg></a>
                      </div>
                    </div>
                  </footer>
</body>
<!--
author: Denvoll Williamson
student ID:20208559
-->
</html>
